.about {
  display: flex;
  padding: 120px 0 235px;
  gap: 85px;
  position: relative;

  @include vp-1199 {
    padding: 100px 0 183px;
    flex-direction: column;
    gap: 43px;
  }

  @include vp-767 {
    padding: 63px 0 77px;
    gap: 33px;
  }
}

.about__text {
  padding: 46px 0 0 60px;
  color: $color-sapphire;
  text-align: left;

  @include vp-1199 {
    padding: 0 88px;
    text-align: center;
  }

  @include vp-767 {
    padding: 0;
    text-align: left;
  }
}

.about__title {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  padding: 0 0 14px;
  letter-spacing: 1.44px;
  line-height: 1;

  @include vp-1199 {
    padding: 0 14px 0 0;
    font-size: 42px;
    letter-spacing: 1.26px;
    line-height: normal;
  }

  @include vp-767 {
    padding: 0 0 6px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.about__subtitle {
  font-family: $ff-roboto;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 40px;

  @include vp-1199 {
    padding: 0 0 36px;
  }

  @include vp-767 {
    padding: 0 0 26px;
  }
}

.about__description {
  font-family: $ff-roboto;
  font-weight: 300;
  margin: 0;
  padding: 0 0 8px;

  @include vp-1199 {
    padding: 0;

    &--desktop {
      display: none;
    }
  }

  @include vp-767 {
    padding: 0 32px 0 0;
  }
}

.about__image {
  flex-shrink: 0;

  @include vp-767 {
    margin: 0 -15px;
  }
}

.about__image img {
  @include vp-1199 {
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    width: 678px;
    height: 313px;
    object-fit: cover;
  }
}


.about__video {
  position: absolute;
  top: 410px;
  left: 38%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
  }

  @include vp-1199 {
    width: 266px;
    height: 167px;
    top: 587px;
    left: 206px;
  }

  @include vp-767 {
    position: relative;
    left: -15px;
    top: 7px;
    width: 320px;
    height: 167px;
  }
}

.about__video video {
  height: 100%;
  object-fit: cover;
}

.about__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 72px;
  background-color: transparent;
  cursor: pointer;

  &:hover img {
    opacity: 0.2;
  }
}

.about__video-button img {
  @include vp-1199 {
    width: 73px;
    height: 73px;
  }
}
