.accordion {
  font-family: $ff-roboto;
  color: $color-sapphire;
}

.accordion__element {
  padding: 32px 0;
  width: 100%;
  border-top: 1px solid rgba(28, 51, 116, 0.2);

  &:last-child {
    border-bottom: 1px solid rgba(28, 51, 116, 0.2);
  }

  @include vp-1199 {
    padding: 30px 0;
  }

  @include vp-767 {
    padding: 24px 0 14px;
  }
}

.accordion__element p {
  margin: 0;
  padding: 0 50px 0 0;
  position: relative;
  font-size: 24px;
  font-weight: 500;

  @include vp-767 {
    font-size: 18px;
    line-height: 120%;
  }
}

.accordion__content p {
  padding: 18px 180px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;

  @include vp-1199 {
    padding: 18px 150px 0 0;
  }

  @include vp-767 {
    padding: 12px 0 0;
    font-size: 16px;
  }
}

.accordion__button {
  width: 42px;
  height: 42px;
  position: absolute;
  padding: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  font-weight: 300;
  border: 1px solid #1c3374;
  border-radius: 50%;
  color: #102654;

  @include vp-1199 {
    top: -7px;
  }

  @include vp-767 {
    top: 14px;
    width: 32px;
    height: 32px;

    & svg {
      width: 15px;
      height: 15px;
    }
  }
}
