.accordion {
  font-family: $ff-roboto;
  color: $color-sapphire;
}

.accordion__element {
  padding: 32px 0;
  width: 100%;
  border-top: 1px solid rgba(28, 51, 116, 0.2);

  &:last-child {
    border-bottom: 1px solid rgba(28, 51, 116, 0.2);
  }

  @include vp-1199 {
    padding: 30px 0;
  }

  @include vp-767 {
    padding: 24px 0 14px;
  }
}

.accordion__element p {
  margin: 0;
  padding: 0 50px 0 0;
  position: relative;
  font-size: 24px;
  font-weight: 500;

  @include vp-767 {
    font-size: 18px;
    line-height: 120%;
  }
}

.accordion__content p {
  padding: 18px 180px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;

  @include vp-1199 {
    padding: 18px 150px 0 0;
  }

  @include vp-767 {
    padding: 12px 0 0;
    font-size: 16px;
  }
}

.accordion__button {
  width: 42px;
  height: 42px;
  position: absolute;
  background-image: url("../img/svg/open.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
  right: 0;
  top: -5px;

  @include vp-1199 {
    top: -7px;
  }

  @include vp-767 {
    top: 14px;
    right: -7px;
    width: 32px;
    height: 32px;
  }
}

.accordion__button--opened {
  background-image: url("../img/svg/close.svg");
}
