.advantage {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 0 30px;
  font-family: $ff-roboto;
  color: $color-sapphire;
  text-align: left;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    text-align: center;
  }
}

.advantage--main {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 240px;
  padding: 60px 34px;
  background-color: #1c3374;
  color: $color-default-white;

  @include vp-1199 {
    width: 442px;
    height: 239px;
    grid-row: 2;
    grid-column: 1 / -1;
    display: block;
    padding: 44px 130px;
    margin: 0 0 4px;
    place-self: center;
  }

  @include vp-767 {
    width: 320px;
    height: 239px;
    padding: 50px 68px;
    margin: 0;
  }
}

.advantage--main .advantage__title {
  padding: 0 0 41px;
  font-size: 26px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 150%;
    padding: 0 0 14px;
  }

  @include vp-767 {
    padding: 0 0 10px;
  }
}

.advantage--main .advantage__big-info {
  font-size: 74px;
  padding: 0 0 18px;
  color: $color-default-white;

  @include vp-1199 {
    display: block;
    padding: 0 0 12px;
  }

  @include vp-767 {
    padding: 0 0 6px;
  }
}

.advantage__title {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0 0 10px;
  font-size: 22px;

  @include vp-1199 {
    padding: 0 0 10px;
    font-size: 20px;
    line-height: 100%;
  }

  @include vp-767 {
    padding: 0 0 8px;
    order: 3;
  }
}

.advantage__description {
  grid-column: 2;
  grid-row: 2 / 4;
  margin: 0;
  font-weight: 300;
  line-height: 140%;

  @include vp-767 {
    order: 4;
    line-height: 140%;
  }
}

.advantage__big-info {
  grid-column: 1;
  grid-row: 1 / 3;
  font-size: 71px;
  line-height: 60px;
  background: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
  background-clip: text;
  color: transparent;

  @include vp-1199 {
    padding: 0;
    font-size: 58px;
    line-height: 50px;
  }

  @include vp-767 {
    padding: 0;
    order: 1;
  }
}

.advantage__small-info {
  grid-column: 1;
  color: #2e35ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    padding: 0;
    grid-row: 3;
  }

  @include vp-767 {
    padding: 0 0 11px;
    order: 2;
  }
}
