.advantage {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 0 30px;
  font-family: $ff-roboto;
  color: $color-sapphire;
  text-align: left;
}

.advantage--main {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 240px;
  padding: 60px 34px;
  background-color: #1c3374;
  color: $color-default-white;
}

.advantage--main .advantage__title {
  padding: 0 0 50px;
  font-size: 26px;
}

.advantage--main .advantage__big-info {
  font-size: 74px;
  padding: 0 0 25px;
  color: $color-default-white;
}

.advantage__title {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0 0 20px;
  font-size: 22px;
}

.advantage__description {
  grid-column: 2;
  grid-row: 2 / 4;
  margin: 0;
  font-weight: 300;
  line-height: 140%;
}

.advantage__big-info {
  grid-column: 1;
  grid-row: 1 / 3;
  font-size: 71px;
  line-height: 100%;
  background: linear-gradient(129deg, #D10A42 0%, #0041CA 100%);
  background-clip: text;
  color: transparent;

}

.advantage__small-info {
  grid-column: 1;
  color: #2e35ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
