.card {
  padding: 60px 77px;
  font-family: $ff-roboto;
  background-color: $color-default-white;
}

.card__title {
  margin: 0;
  padding: 0 0 22px;
  font-weight: 700;
  line-height: normal;
  font-size: 26px;
}

.card__description {
  margin: 0;
  padding: 0 0 96px;
  font-weight: 400;
}

.card__price {
  margin: 0;
  padding: 0 0 59px;
  color: $color-egyptian-blue;
  font-size: 60px;
  line-height: 60px;
}

.card__btn {
  justify-content: center;
  align-items: center;
  color: $color-sapphire;
  border: 2px solid $color-sapphire;
  width: 206px;
  height: 64px;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.6px;
}
