.contacts {
  padding: 56px 159px 60px 123px;
  color: $color-sapphire;
  border-top: 1px solid #74819c;

  @include vp-1199 {
    padding: 66px 178px 64px 133px;
    border: none;
  }

  @include vp-767 {
    padding: 70px 15px 65px;
  }
}

.contacts__title {
  margin: 0;
  padding: 0 0 38px;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    padding: 0 0 39px;
    font-size: 42px;
    line-height: 1;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 0.9;
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 15px 120px;
  margin: 0;
  padding: 0;
  font-family: $ff-roboto;
  list-style: none;
  position: relative;


  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 57%;
    background-color: #74819c;
  }

  @include vp-1199 {
    gap: 24px 96px;

    &::after {
      left: 58%;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-auto-flow: row;

    &::after {
      display: none;
    }
  }
}

.contacts__item-title {
  margin: 0;
  padding: 0 0 2px;
  font-size: 16px;
  font-weight: 700;

  @include vp-1199 {
    padding: 0 0 10px;
    font-size: 20px;
  }
}

.contacts__info {
  margin: 0;
  font-size: 14px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 18px;
  }
}
