.footer {
  background-color: $color-black-russian;
  padding: 34px 0 32px;
  color: #ffffff;
  font-family: $ff-roboto;
  font-size: 14px;
  font-weight: 400;

  @include vp-1199 {
    padding: 45px 0 32px;
  }

  @include vp-1199 {
    padding: 48px 0 32px;
  }
}

.footer__container {
  display: flex;
  align-items: center;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}

.footer__logo {
  @include vp-1199 {
    padding: 2px 11px 0 0;
  }

  @include vp-767 {
    position: absolute;
  }
}

.footer__logo svg {
  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.footer__navigation {
  display: flex;
  margin: 0 auto;

  @include vp-767 {
    margin: 0;
  }
}

.footer__navigation-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 75px;
    font-size: 16px;
    margin: 0 0 33px;
  }
}

.footer__navigation-link {
  color: $color-default-white;
  line-height: 10px;
}

.footer__navigation-item {
  justify-self: start;
  border-bottom: 1px solid transparent;

  @include hover {
    border-bottom: 1px solid $color-default-white;
  }

  @include focus {
    appearance: none;
  }
}

.footer__navigation-item--mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 11px;
  padding: 0;
  margin: 0;

  @include vp-767 {
    display: flex;
    justify-content: flex-start;
    align-self: start;
  }
}

.footer__social-item {
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


  @include hover-focus {
    background-color: #103AAE;
  }
}

.footer__social-link {
  display: block;
  width: 18px;
  height: 16px;
  color: $color-black-russian;


}

.footer__social-link svg {
  display: block;
  width: 100%;
  height: 100%;


  @include hover-focus {
    color: $color-default-white;
  }

}
