.footer {
  background-color: $color-black-russian;
  padding: 44px 0 32px;
  color: #ffffff;
  font-family: $ff-roboto;
  font-size: 14px;
  font-weight: 400;
}

.footer__container {
  display: flex;
  align-items: center;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}

.footer__logo {
  @include vp-767 {
    position: absolute;
  }
}

.footer__logo svg {
  @include vp-1199 {
    width: 82px;
    height: 18px;
  }
}

.footer__navigation {
  display: flex;
  margin: 0 auto;

  @include vp-767 {
    margin: 0;
  }
}

.footer__navigation-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 100px;
    font-size: 16px;
    margin: 0 0 40px;
  }
}

.footer__navigation-link {
  color: $color-default-white;
  line-height: 10px;
}

.footer__navigation-item {
  justify-self: start;
}

.footer__navigation-item--mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 11px;
  padding: 0;
  margin: 0;

  @include vp-767 {
    display: flex;
    justify-content: flex-start;
    align-self: start;
  }
}

.footer__social-item {
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-link {
  display: block;
  width: 18px;
  height: 16px;
  color: $color-black-russian;
}

.footer__social-link svg {
  display: block;
  width: 100%;
  height: 100%;
}
