.hero {
  color: $color-default-white;
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr 2fr;
  font-weight: 600;
  white-space: nowrap;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    display: block;
    text-align: center;
  }
}

.hero__text {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto min-content auto;
  padding: 0 0 0 19px;
  text-align: right;

  @include vp-1199 {
    padding: 50px 0 0 0;
  }

  @include vp-767 {
    padding: 80px 0 0;
  }
}

.hero__city {
  align-self: end;
  margin: 0;
  padding: 0 40px 0 0;
  grid-column: 2;
  grid-row: 1;
  font-size: 48px;
  letter-spacing: 1.44px;

  @include vp-1199 {
    padding: 0;
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 28px;
  }
}

.hero__title {
  font-size: 92px;
  margin: 0;
  grid-column: 2;
  grid-row: 2;
  text-align: right;
  line-height: normal;
  padding: 0 0 70px;

  @include vp-1199 {
    font-size: 72px;
    align-self: start;
    padding: 0 0 50px;
    text-transform: none;
  }

  @include vp-767 {
    padding: 0 0 20px;
  }
}

.hero__btn {
  grid-column: 2;
  padding: 24px 56px;
  border: 4px solid $color-default-white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  width: 230px;
  height: 57px;
  letter-spacing: 0.6px;
  justify-content: center;
  align-items: center;

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include active {
    color: $color-black-russian;
  }

  @include vp-1199 {
    width: 183px;
    height: 57px;
    margin-left: auto;
  }

  @include vp-767 {
    grid-column: 1 / -1;
    width: 100%;
    height: 59px;
  }
}

.hero__list {
  grid-column: 1;
  grid-row: 2 / 3;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: none;
  font-size: 14px;
  font-family: $ff-roboto;
  font-weight: 400;
  align-self: center;
  line-height: 150%;
}

.hero__img {
  @media (min-width: $vp-1366) {
    margin: -30px 0 0;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__img img {
  text-align: right;
  align-self: end;

  @include vp-1199 {
    width: 324px;
    height: 390px;
    margin: 0;
  }
}

