.promo {
  padding: 135px 0 120px;

  @include vp-1199 {
    padding: 95px 0;
  }

  @include vp-767 {
    padding: 64px 0 70px;
  }
}

.promo__container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @include vp-1199 {
    gap: 29px 30px;
    grid-template-rows: repeat(2, auto);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.promo__title {
  padding: 0 0 38px;
  margin: 0;
  text-align: center;
  line-height: 1;
  color: $color-sapphire;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;

  @include vp-1199 {
    padding: 0 10px 44px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.promo__primary {
  grid-column: 1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: $color-default-white;

  @include vp-1199 {
    grid-template-columns: 1fr 399px;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.promo__primary-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 44px 45px;
  font-family: $ff-roboto;
  background-color: $color-torch-red;

  @include vp-767 {
    padding: 44px 45px 42px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


.promo__primary-time {
  font-size: 28px;
  font-weight: 700;

  @include vp-767 {
    padding: 0 0 7px;
  }
}

.promo__primary-price {
  padding: 0 0 26px;
  font-size: 70px;
  font-weight: 700;
  line-height: 100%;

  @include vp-1199 {
    padding: 0 0 25px;
  }

  @include vp-1199 {
    padding: 0 0 13px;
  }
}

.promo__primary-description {
  margin: 0;
  padding: 0 0 176px;
  font-size: 18px;
  font-weight: 400;

  @include vp-1199 {
    padding: 0 0 184px;
  }

  @include vp-767 {
    padding: 0 0 29px;
  }
}

.promo__primary-btn {
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 79px;
    height: 1px;
    background-color: $color-default-white;
  }
}

.promo__primary-img img {
  object-fit: cover;

  @include vp-1199 {
    width: 399px;
    height: 462px;
  }

  @include vp-767 {
    width: 290px;
    height: 299px;
  }
}

.promo__secondary {
  grid-column: 2;
  padding: 26px 28px;
  font-family: $ff-roboto;
  border: 7px solid transparent;
  border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%) 1;
  color: #1c3374;

  & br {
    display: none;
  }

  @include vp-1199 {
    padding: 26px;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;


    &:nth-child(2n) {
      grid-column: 1;
    }

    & br {
      display: inline;
    }
  }

  @include vp-767 {
    padding: 36px;
    align-items: center;
    text-align: center;
  }
}

.promo__secondary-title {
  margin: 0;
  padding: 0 0 10px;
  font-size: 26px;
  font-weight: 700;
}

.promo__secondary-description {
  margin: 0;
  padding: 0 0 60px;
  font-weight: 400;

  @include vp-1199 {
    padding: 0 0 39px;
    margin: 0 0 auto;
  }

  @include vp-767 {
    padding: 0 0 20px;
  }
}

.promo__secondary-btn {
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 12px;
  color: #1c3374;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 68px;
    height: 1px;
    background-color: #1c3374;
  }
}
